[submodule "_plugins/multiple-languages"]
	path = _plugins/multiple-languages
	url = git@github.com:kurtsson/jekyll-multiple-languages-plugin.git
[submodule "_plugins/jekyll-multiple-languages-plugin"]
	path = _plugins/jekyll-multiple-languages-plugin
	url = git@github.com:kurtsson/jekyll-multiple-languages-plugin.git
