---
layout: default
---
<!-- _layouts/donation.html -->
<div class="post">

    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">{{ page.date | date: "%B %-d, %Y" }}{%- if page.author -%} • {{ page.author }}{%- endif -%}{%- if page.meta -%} • {{ page.meta }}{%- endif -%}</p>
    </header>

    <article>
        <p>Буду благодарен за любые донаты: я очень стараюсь, чтобы блог был интересным и полезным.</p>
        <p>Вообще, мне можно задонатить на российскую карту:</p>
        <p><b>Тинькофф</b>: 5536 9141 1052 3101 (или <a href="https://www.tinkoff.ru/cf/1aPaQhJvQLn">так</a>)</p>

        <p>
            <iframe src="https://widget.qiwi.com/widgets/big-widget-728x200?publicKey=48e7qUxn9T7RyYE1MVZswX1FRSbE6iyCj2gCRwwF3Dnh5XrasNTx3BGPiMsyXQFNKQhvukniQG8RTVhYm3iPzPqXZWHzETmbmQ2ZUQ4yAUzqUR494ak1bcAzJRhiB38g8qkv1jopK54CVxiuXzRBDBLoPoakUhxPe441v5Zs5qX78n6QFeA9WrRn2gkJ6&noCache=true" width="728" height="200"allowTransparency="true" scrolling="no" frameBorder="0"></iframe>
        </p>

        <p>Или по номеру счета в долларах, евро или лари:</p>
        <p><b>IBAN</b>: GE63TB7332036615100022 (USD). SWIFT-код: TBCBGE22 (intermediary bank: RZBAATWW)</p>
        <p><b>IBAN</b>: GE68TB7332036615100029 (EUR). SWIFT-код: TBCBGE22 (intermediary bank: CHASUS33)</p>
        <p><b>IBAN</b>: GE70TB7332045061200005 (GEL). </p>

        <p>Или подписаться на меня на <a href="https://boosty.to/sptm">Boosty</a>.</p>

        <p>Или криптой:</p>

        <p><b>Bitcoin</b>: 3K5sCArMj6yweuSqXsWCezFrkmyrzGfoDw <br>
            <b>Ethereum</b>: 0x28468bAb476481d51481DfB9D574099a86cB1ed5 <br>
            <b>USDC (Ethereum)</b> 0xb35f226fDC334F5f1859D914e78Dd3Ea25C7eddb <br>
            <b>Polygon (MATIC)</b>: 0x27ec4BCAd4a21651cd0CD5D0FA36cB6445256998 <br>
            <b>Litecoin</b>: MHZAUkTDz71vtLy7u5Y6QzoiKHCQZhAfde </br>
        </p>

<!--        <p>Или PayPal/картой:</p>-->

<!--        <p><script src="https://donorbox.org/widget.js" paypalExpress="true"></script><iframe src="https://donorbox.org/embed/donate-learningjs" name="donorbox" allowpaymentrequest="allowpaymentrequest" seamless="seamless" frameborder="0" scrolling="no" height="900px" width="100%" style="max-width: 500px; min-width: 250px; max-height:none!important"></iframe></p>-->

        <p>Если ни один метод вам не подходит, а задонатить хочется, пишите мне в <a href="https://t.me/sptmru">Telegram</a>, что-то придумаем.</p>
    </article>
</div>
