---
layout: default
---
<!-- _layouts/donation.html -->
<div class="post">

    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">{{ page.date | date: "%B %-d, %Y" }}{%- if page.author -%} • {{ page.author }}{%- endif -%}{%- if page.meta -%} • {{ page.meta }}{%- endif -%}</p>
    </header>

    <article>
        <p>Буду благодарен за любые донаты: я очень стараюсь, чтобы блог был интересным и полезным.</p>
        <p>Вообще, мне можно задонатить на российскую карту:</p>
        <p><b>Тинькофф</b>: 5536 9141 1052 3101</p>

        <p>Или на грузинский счет:</p>
        <p><b>IBAN</b>: GE70TB7332045061200005</p>

        <p>Или криптой:</p>

        <p><b>Bitcoin</b>: bc1qc7pf6pp4n2gdq7rchnt7t62z4r7al9qdqhdrfc <br>
            <b>Ethereum</b>: 0xde2B922FFBc3e23fa6cA65370142B03C64223104<br>
            <b>Litecoin</b>: ltc1qfwv8razstu3972wx9fm8avr5n3pkzvckx0l7z3
        </p>

        <p>Или же PayPal / картой:</p>

    </article>

    <div id="smart-button-container">
        <div style="text-align: center;">
            <div id="paypal-button-container"></div>
        </div>
    </div>
    <script src="https://www.paypal.com/sdk/js?client-id=sb&enable-funding=venmo&currency=USD" data-sdk-integration-source="button-factory"></script>
    <script>
        function initPayPalButton() {
            paypal.Buttons({
                style: {
                    shape: 'pill',
                    color: 'white',
                    layout: 'vertical',
                    label: 'paypal',

                },

                createOrder: function(data, actions) {
                    return actions.order.create({
                        purchase_units: [{"description":"Тысяча благодарностей!","amount":{"currency_code":"USD","value":10}}]
                    });
                },

                onApprove: function(data, actions) {
                    return actions.order.capture().then(function(orderData) {

                        // Full available details
                        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

                        // Show a success message within this page, e.g.
                        const element = document.getElementById('paypal-button-container');
                        element.innerHTML = '';
                        element.innerHTML = '<h3>Thank you for your payment!</h3>';

                        // Or go to another URL:  actions.redirect('thank_you.html');

                    });
                },

                onError: function(err) {
                    console.log(err);
                }
            }).render('#paypal-button-container');
        }
        initPayPalButton();
    </script>
</div>
